body {
	position: relative;
	background-color:#ECE5E2;
  font: 16px Consolas, serif;
}
a {
	text-decoration: none;
	color:#FF0101;
	opacity: .7;
}

.link a:hover {
	transition: all .3s ease-in-out;
	opacity: 1;
}
@media screen and (max-width: 700px) {
  table {
    font-size: 14px;  
  }

} 
.adminPanel{
	font: 18px Arial, sans-serif;
	color: #fff;
	padding-top: 10px;
	width: 600px;
	height: 40px;
	background-color: #123484;
}
