body {
	position: relative;
	background-color:#ECE5E2;
    font: 14px Consolas, serif;
}

a {
	text-decoration: none;
	color:#FF0101;
	opacity: .7;
}

.link a:hover {
	transition: all .3s ease-in-out;
	opacity: 1;
}

.adminPanel{
	font: 18px Arial, sans-serif;
	color: #fff;
	padding-top: 10px;
	width: 600px;
	height: 40px;
	background-color: #123484;
}

  td,th{
	vertical-align:middle;
	 color: #444;
    background: #e4e4e4;
    border: 1px solid transparent; 
    border-radius: 3px;
    padding: 4px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 3px 6px -3px rgba(0,0,0,0.25);

}